*{
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a{
	text-decoration: none;
}
body,html {
	scroll-behavior: smooth;
	/*scroll-behavior: auto;*/
}
.container{
	width: 100%;
	height: 100%;
}
.fixed{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 102;
	position: fixed;
	display: none;
}
/*上方导航*/
header{
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
}
header .nav{
	max-width: 1260px;
    margin: auto;
    /*position: relative;*/
}
.nav-logo{
	width: 8.3%;
	display: inline-block;
	vertical-align: middle;
}
.header-logo{
	height: 60px;
    margin-right: 20px;
    line-height: 52px;
}
.logoImg{
	display: inline-block;
	vertical-align: middle;
	width: 71px;
    height: 21px;
    background: url(../img/HPlanimg/26eb5cd01b4615962d6855d736b005c5_haier2018_hn_ico25_2.png) 0 -630px;
    display: inline-block;
    margin: 0 0 5px 5px;
}
.nav-menu{
	width: 66.7%;
	min-height: 60px;
    line-height: 60px;
    display: inline-block;
	vertical-align: middle;
}
.nav-menu-list{
	width: 16.7%;
	font-weight: bold;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
	color: #666;
	font-size: 15px;
}
.box2 {
	position: relative;
	width: 100%;
    height: 653px;
    margin:0 auto;
    text-align: center;
    overflow: hidden;
}
#imgList1{
	/*position: absolute;*/
	overflow: hidden;
}
.pictwo{
	/*设置浮动*/
	position: absolute;
	height: 100%;
    width: 100%;
    transition: all .3s;
}
.pictwo1{
	left: -100%;
    z-index: 99;
}
.pictwo2{
    left: 0%;
}
.pictwo3{
    left: 100%;
}
.pictwo4{
    left: 200%;
}
#navDiv1{
	position: absolute;
	bottom:60px;
	left: 50%;
	margin-left: -100px;
	z-index: 100;
}
#navDiv1 a{
	width: 50px;
    height: 3px;
    display: inline-block;
    margin: 3px;
    background: #c6cacb;
    transition: all .5s;
    position: relative;
}
#navDiv1 a .ahover{
	width: 0px;
	height: 100%;
	background: #34bcfc;
	position: absolute;
	left: 0;
	transition: all .5s;
}
/*智慧场景*/
.home_scenes{
	max-width: 1360px;
    margin: 0 auto;
    position: relative;
}
.home_title{
	font-size: 38px;
    font-weight: bold;
    padding: 50px 65px;
}

.video{
	position: absolute;
	/*top: 0;*/
	left: 238px;
	z-index: 103;
	width: 820px;
    height: 456px;
    background: white;
    display: none;
}
.close{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 105;
}
.video-list video{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.home_scenes_content{
	padding: 0 65px;
}
.scenes_content_left{
	width: 66.7%;
	display: inline-block;
	float: left;
}
.showbox{
	overflow: hidden;
    position: relative;
    width: 820px;
    height: 456px;
    vertical-align: middle;
}
.showbox ul{
	width: 4100px;
	position: absolute;
	left: 0px;
	top: 0;
	display: flex;
	transition: all .5s;
	/*overflow: hidden;*/
	/*white-space: nowrap*/
}
.showbox ul li{
	width: 100%;
	display: inline-block;
	float: left !important;
}
.button_box{
	text-align: right;
    position: relative;
    right: 5px;
    /*top: 446px;*/
    vertical-align: middle;
}
.button_box span{
	display: inline-block;
    font-size: 20px;
    color: #666;
    width: 198px;
    height: 52px;
    border: 1px solid #2cb6ff;
    line-height: 52px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 10px;
    transition: all .3s ease-in-out;
}
.button_box:hover span{
	background:#2cb6ff;
	color: white;
}
.button_box:hover .bef{
	opacity: 0;
}
.button_box:hover .aft{
	opacity: 1;
}
.button_box span i{
	display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    left: 5px;
    bottom: 2px;
    transition: all .3s ease-in-out;
}
.button_box span .bef{
	background: url(../img/Homeimg/smartfamily2018_buttonicon.png) no-repeat;
    z-index: 99;
    opacity: 1;
    vertical-align: middle;
}
.button_box span .aft{
	left: -24px;
    opacity: 0;
    z-index: 999;
    vertical-align: middle;
	background: url(../img/Homeimg/smartfamily2018_buttonicon_h.png) no-repeat;
}
.scenes_content_right{
	width: 33.3%;
	display: inline-block;
}
.page_box{
	max-width: 365px;
    height: 510px;
    box-shadow: 0 20px 50px #e6e6e6;
    margin: 0 auto;
    position: relative;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.js_scenes_time{
	vertical-align: middle;
}
.js_scenes_time .time{
	padding: 55px 40px 50px 40px;
	vertical-align: middle;
	display: none;
}
.js_scenes_time .time .left{
	display: inline-block;
	vertical-align: middle;
}
.js_scenes_time .time .right{
	font-size: 32px;
    color: #666;
    display: inline-block;
    float: right;
    position: relative;
    top: 20px;
    letter-spacing: 2px;
    vertical-align: middle;
}
.js_scenes_time .time .left span{
	font-size: 24px;
    color: #666;
    text-align: center;
    display: block;
}
.scenes_product{
	max-width: 270px;
    max-height: 270px;
    margin: 0 auto;
    vertical-align: middle;
    display: none;
}
.scenes_product_menu{
	float: left;
	width: 50%;
	display: inline-block;
}
.scenes_product_menu a{
	width: 100%;
    max-height: 135px;
    padding-bottom: 10px;
    text-align: center;
    background: #f6f6f6;
    float: left;
    border: 1px solid #fff;
    display: block;
    text-decoration: none;
}
.scenes_product_menu a .ob{
	margin-top: 10px;
    overflow: hidden;
    max-width: 74px;
    max-height: 74px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    vertical-align: middle;
}
.scenes_product_menu a .ob img{
	width: 100%;
}
.scenes_product_menu a span{
	/*text-decoration: none;*/
	vertical-align: middle;
	font-size: 14px;
    color: #333;
}
.prev{
	position: absolute;
    left: -45px;
    top: 23%;
    cursor: pointer;
    display: none;
}
.next{
	position: absolute;
    right: -45px;
    top: 23%;
    cursor: pointer;
}
/*智家方案*/
.home_solution{
	min-height: 500px;
    background: #f7f7f7;
    white-space: nowrap;
    overflow: hidden;
    max-width: 1360px;
    margin: -4px auto 0; 
    position: relative;
    overflow: hidden;
}
.js_accordion{
	padding: 0 65px;
	font-size: 0;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.solution-box{
	float: left;
	padding-top: 60px;
	width:12.3%;
	display: inline-block;
    height: 582px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 1px 10px 10px #ccc;
    transition: all .5s; 
}
.titshow{
	padding-left: 15px;
    display: none;
}
.wrap{
	display: inline-block;
    margin-left: 20px;
}
.wrap .t{
	font-size: 36px;
    color: #666;
}
.wrap .d{
	font-size: 20px;
    color: #666;
}
.big_bag{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    
}
.im_1{
	background: url(../img/Homeimg/adcc44ee25295fa53b72babdcd6b4cb0_smartfamily2018_pc_shilian_s.png);
}
.im_2{
	background: url(../img/Homeimg/ab3c0bf0514e1623264fa4e7bf081373_smartfamily2018_pc_yilian_s.png);
}
.im_3{
	background: url(../img/Homeimg/c7a134eb0c840a161ea63de307fc5a0e_smartfamily2018_pc_shuilian_s.png);
}
.im_4{
	background: url(../img/Homeimg/a075012e678b73239501223099a1538f_smartfamily2018_pc_kongqi_s.png);
}
.im_5{
	background: url(../img/Homeimg/31b76b58c8934763a519a6aef81d8764_smartfamily2018_pc_anfang_s.png);
}
.big_bag img{
	margin: 0 auto;
}
.big_bag span{
	display: inline-block;
    position: absolute;
    top: 31%;
    font-size: 28px;
    color: #666;
    left: 40%;
}
.solution_info{
	width: 615px;
	display: none;
}
.solution_bo{
	position: absolute;
	bottom: 0;
}
/*产品推荐*/
.home_tuijian{
	background: url(../img/Homeimg/9bf8c5bc258ca4d9393cb6499639de99_smartfamily2018_bg4.png) no-repeat;
    min-height: 719px;
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
}
.touchbox{
	padding: 48px 65px 0;
	position: relative;
	bottom: 50px;
}
.touchbox-left{
	width: 50%;
	float: left;
	display: inline-block;
}
.touchbox-left .box_a{
	max-width: 305px;
    text-align: center;
    height: 510px;
    padding: 0 5%;
    margin-right: 6px;
    float: left;
    background: #fff;
    display: inline-block;
    width: 39%;
    cursor: pointer;
    transition: all .3s linear;
}
.touchbox-left .box_a .op{
	margin: 100px 0;
    max-width: 240px;
    max-height: 240px;
	display: inline-block;
    overflow: hidden;
}
.touchbox-left span{
	font-size: 18px;
    display: block;
    text-align: left;
    color: #333;
}
.touchbox-left p{
	font-size: 12px;
    color: #666;
    display: block;
    text-align: left;
    margin-top: 5px;
}
.box_b{
	max-width: 305px;
    height: 210px;
    background: #f8f7f6;
    display: inline-block;
    padding: 0 5%;
    width: 39%;
    cursor: pointer;
    float: left;
    transition: all .3s linear;
}
.box_b .op{
	margin-top: 55px;
    max-width: 96px;
    max-height: 96px;
    width: 40%;
    display: inline-block;
    overflow: hidden;
}
.box_b .wrap{
	display: inline-block;
    width: 55%;
    margin-top: -106px;
    float: right;
}
.box_c{
	max-width: 305px;
    text-align: center;
    height: 300px;
    background: #f4f3f4;
    float: left;
    display: inline-block;
    padding: 0 5%;
    width: 39%;
    cursor: pointer;
    transition: all .3s linear;
}
.box_c .op{
	text-align: center;
    max-width: 140px;
    max-height: 140px;
    margin: 50px 0 16% 0;
    display: inline-block;
    overflow: hidden;
}
.touchbox a:hover{
	box-shadow: 0 10px 20px #ddd;
    transform: translate3d(0, -5px, 0);
}
.box_d{
	max-width: 305px;
    text-align: center;
    height: 300px;
    background: #fcfbfc;
    /*float: none;*/
    /*position: relative;*/
    display: inline-block;
    padding: 0 5%;
    width: 39%;
    cursor: pointer;
    vertical-align: middle;
    transition: all .3s linear;
}
.box_d .op{
	text-align: center;
    max-width: 140px;
    max-height: 140px;
    margin: 50px 0 16% 0;
    display: inline-block;
    overflow: hidden;
}
.box_e{
	max-width: 305px;
    height: 210px;
    vertical-align: middle;
    background: #f5f5f5;
    /*float: none;*/
    display: inline-block;
    padding: 0 5%;
    width: 39%;
    margin-top: -100px;
    cursor: pointer;
    transition: all .3s linear;
}
.box_e .op{
	margin-top: 55px;
    max-width: 96px;
    max-height: 96px;
    width: 40%;
    display: inline-block;
    overflow: hidden;
}
.box_e .wrap{
	display: inline-block;
    width: 55%;
    margin-top: -106px;
    float: right;
}
.fixedbo{
	position: relative;
    bottom: 96px;
}
.home_button{
	font-size: 20px;
    color: #666;
    width: 208px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border: 1px solid #666;
    font-weight: normal;
    /*float: right;*/
    position: absolute;
    top: 44px;
    right: 65px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.home_button:hover{
	color: #fff;
    background: #666;
}
/*产品热评*/
.home_hot{
	padding-bottom: 50px;
    background: #f7f7f7;
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
}
.hot_content{
	position: relative;
    padding: 0 65px;
    overflow: hidden;
}
.hot_b{
	top: 84px;
}
.pro_rp{
	width: 33.3%;
	min-height: 500px;
	float: left;
}
.pro_rp_box{
	width: 92%;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;
    transition: all .3s linear;
}
.pro_rp_box:hover{
	transform: translate3d(0, -10px, 0);
    transition: all .3s linear;
    box-shadow: 0 10px 20px #ddd;
}

.arc span{
	font-size: 22px;
    color: #333;
    display: block;
    padding: 20px 10px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.arc p{
	font-size: 14px;
    color: #666;
    display: block;
    padding: 8px;
}
.hot_content .bottom{
	position: relative;
	padding: 40px 8px 20px 8px;
} 
.headbox{
	position: relative;
    width: 68px;
    height: 68px;
    display: inline-block;
}
.player{
	position: absolute;
    width: 68px;
    height: 68px;
} 
.head{
	width: 68px;
    height: 68px;
} 
.name{
	position: absolute;
	bottom: 44px;
	left: 83px;
}
.tool{
	float: right;
    margin-top: 25px;
    margin-right: 10px
}
.tool span{
	margin: 0 12px;
	vertical-align: middle;
}
.tool span img{
	width: 22px;
    height: 22px;
    margin-right: 5px;
}
/*我的智家*/
.home_family{
	/*padding-bottom: 50px;*/
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    /*background: yellow;*/
    overflow: hidden;
}
.zhi{
	position: relative;
	z-index: 1000;
}
.family_content{
	position: relative;
}
.family_content_left{
	width: 66.7%;
	float: left;
}
.family_content_right{
	width: 33.3%;
	float: left;
	/*overflow: hidden;*/
}
.wrap1{
	top:-151px ;
	height: 700px;
    margin-left: -2px;
    background: url(../img/Homeimg/0237c3f5f2d6a0c921b41fb7a3676ed9_smartfamily2018_map.png) no-repeat;
    position: relative;
    background-size: 100% 100%;
    padding: 20px 50px 40px 20px;
}
.bdr{
	border: 1px solid #fff;
    height: 100%;
    text-align: center;
    transition: all 0.8s;
}
.bdr:hover{
	box-shadow: 0 20px 50px #d0d0d0;
}
.fa_content-box{
	position: relative;
    display: inline-block;
    margin: 50% 35px 30% 35px;
}
.fa_content-box img{
	width: 100%;
    max-width: 333px;
    max-height: 214px;
}
.outer2{
	/*position: absolute;*/
	height: 760px;
    width: 907px;
    top: -151px;
    left: 0px;
    overflow: hidden;
    position: relative;
    background: white;
    /*border: 1px solid #e5e5e5;*/
}
#imgList2{
	/*overflow: hidden;*/
	position: absolute;
}
.fa-layer{
	display: block;
    height: 258px;
    width: 100%;
    background: url(../img/Homeimg/816ee4585a88a064aefe4d3bf9567e25_smartfamily2018_zjbg2.png) repeat-x;
    position: absolute;
    bottom: 0;
}
.fa-layer .tit{
	color: #fff;
    font-size: 24px;
    position: relative;
    left: 65px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
.fa-layer p{
	color: #fff;
    font-size: 16px;
    padding: 0 65px;
    margin-top: 10px;
    word-break: break-all;
    white-space: pre-wrap;
}
.fa-layer .tool1{
	position: relative;
    padding: 30px 65px;
}
.fa-layer .tool1>div{
	margin-left: -2px;
	width: 50%;
	float: left;
}
.table-list{
	width: auto;
	padding: 2px;
	margin-left: -5px;
	float: left;
}
.table-list span{
	max-width: 70px;
	max-height: 70px;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.more a{
	display: inline-block;
    font-size: 20px;
    color: #fff;
    width: 168px;
    height: 62px;
    border: 1px solid #fff;
    line-height: 64px;
    text-align: center;
    cursor: pointer;
    float: right;
    position: relative;
    top: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.more a:hover{
	color: #666;
	background: #fff;
}
.fa-button{
	display: inline-block;
    font-size: 20px;
    color: #fff;
    width: 208px;
    height: 62px;
    border: 1px solid #fff;
    line-height: 62px;
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    padding-right: 25px;
}
.fa-button i{
	display: inline-block;
	width: 28px;
    height: 32px;
    position: relative;
    right: 5px;
    bottom: -6px;
    transition: all .3s ease-in-out;
}
.fa-button:hover{
	color: #666;
    border: 1px solid #fff;
    background: #fff;
}
.fa-button:hover .fff{
	opacity: 0;
}
.fa-button:hover .hhh{
	opacity: 1;
}
.fff{
	width: 28px;
    height: 32px;
	background: url(../img/Homeimg/ecff379375dd5653e78591dd9b19894a_smartfamily2018_pointer.png) no-repeat;
	opacity: 1;
    z-index: 9;
    left: 23px;
}
.hhh{
	background: url(../img/Homeimg/493d3914bdaa27eef924175ce3e9742d_smartfamily2018_pointer_h.png) no-repeat;
	opacity: 0;
    left: -10px;
    z-index: 9999999;
}
.picthree{
	/*设置浮动*/
	position: absolute;
	height: 760px;
    width: 907px;
    background: white;
    transition: all .2s;
}
.picthree1{
    left: 0px;
    z-index: 99;
}
.picthree2{
    left: 907px;
}
.picthree3{
    left: 1814px;
}
.picthree4{
    left: 2721px;
}
#navDiv2{
	position: absolute;
	bottom: 15px;
	left: 37%;
	z-index: 99;
}
#navDiv2 a{
	float: left;
	width: 50px;
	height: 3px;
	background: #c6cacb;
    margin: 0 5px;
    position: relative;
}
#navDiv2 a .ahover1{
	width: 0px;
	height: 100%;
	background: #34bcfc;
	position: absolute;
	left: 0;
	transition: all .5s;
}
.bbbb{
	display: block;
}
/*生活资讯*/
.home_bgwarp_fix{
	margin-top: -100px;
	background: url(../img/Homeimg/e3a424cc3479bba0ef4b1aa0056c0aa9_smartfamily2018_bg11.png) repeat-x;
}
.home_life{
	padding-bottom: 50px;
	max-width: 1360px;
    margin: 0 auto;
    position: relative;
}
.home_life_box{
	position: relative;
	padding: 0 65px;
}
.life_box_list{
	width: 44%;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    margin-right: 5%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.life_box_list:hover{
	transform: translate3d(0, -10px, 0);
    transition: all .3s linear;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}
.life_box_ob{
	max-width: 232px;
    max-height: 117px;
    overflow: hidden;
    display: inline-block;
    margin-right: 4%;
    width: 44%;
    vertical-align: middle;
    position: relative;
    width: 232px;
    height: 117px;
}
.life_box_img{
	position: absolute;
	width: 232px;
	height: 117px;
	top: 0;
	left: 0;
	
}
.life_box_right{
	display: inline-block;
    height: 116px;
    width: 50%;
    vertical-align: middle;
}
.life_box_tit{
	display: block;
    font-size: 18px;
    color: #333;
    height: 70px;
    margin-top: 10px;
}
.life_box_right p{
	display: block;
}
.p_span{
	color: #999;
    font-size: 14px;
    margin-right: 4px;
}
.life_box_right i{
	color: #999;
    font-size: 14px;
    margin-right: 4px;
}
/*了解智家*/
.home_get{
	padding-bottom: 110px;
    min-height: 400px;
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
}
.home_get_co{
	padding: 0 65px;
    position: relative;
}
.get_co_list{
	width: 25%;
	float: left;
}
.get_co_box{
	position: static;
    width: 90%;
    top: 0px;
	padding: 10px;
    background: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}
.get_co_box:hover{
	box-shadow: 0 20px 50px #d0d0d0;
	transform: translate3d(0, -20px, 0);
    transition: all .3s linear;
}
.get_co_box:hover .play{
	display: block;
}
.get_co_ob{
	max-width: 287px;
    overflow: hidden;
}
.get_co_box p{
	font-size: 18px;
    color: #333;
    width: 70%;
    display: inline-block;
    margin-top: 15px;
    height: 60px;
    text-align: left;
    position: relative;
}
.get_co_box span{
	font-size: 14px;
    color: #999;
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: right;
    right: 5px;
    top: 5px;
    vertical-align: top;
    margin-top: 15px;
}
.play{
	display: none;
    width: 148px;
    height: 52px;
    color: #666;
    font-size: 20px;
    margin: 20px auto;
    border: 1px solid #2cb6ff;
    line-height: 52px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.play i{
	display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/Homeimg/smartfamily2018_buttonicon.png) no-repeat;
    position: relative;
    left: 5px;
    bottom: -3px;
    transition: all .3s ease-in-out;
}
.play:hover{
	border: 1px solid #2cb6ff;
    background: #2cb6ff;
    color: #fff;
}
/*尾部*/
.hn_bottombox{
	width: 100%;
    background: #525455;
    color: #fff;
    padding-top: 42px;
    padding-bottom: 40px;
}
.hn_bottombox_center{
	width: 1236px;
    margin: 0 auto;
    overflow: hidden;
}
.hn_bottombox_left{
	width: 50%;
	float: left;
}
.hn_bottombox_left-1{
	width: 25%;
	float: left;
}
.footer_tit{
	text-align: left;
	font-size: 1em;
    line-height: 2em;
    padding-top: 5px;
}
.footer_tit em{
	font-style: normal;
	color: #999;
    line-height: 23px;
    margin-right: 10px;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
}
.hn_bottombox_left-1 ul li{
	color: #999;
    font-size: 12px;
    line-height: 23px;
    text-align: left;
}
.hn_bottombox_left-1 ul li:hover{
	color: white;
}
.i_haier{
	/*margin-left: 18px;*/
	display: block;
    padding-left: 50px;
    background: url(../img/indeximg/hn_ico.png) no-repeat left -175px;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    width: 80px;
    box-sizing: border-box;
    font-style: normal;
}
.p{
	/*margin-left: -54px;*/
	font-size: 13px;
	padding-bottom: 20px;
}
.p em{
	color: #32beff;
    font-size: 13px;
    line-height: 1.8em;
    font-style: normal;
}
.bottombar{
	background: #2b2c2d;
    padding: 20px 0;
    color: #515252;
}
.bottombar-co{
	width: 1236px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.bottombar-co em{
	font-size: 14px;
	color: #666;
	font-style: normal;
}
.bottombar-co em:hover{
	color: #32beff;
}
.right{
	float: right;
}
.right .nn{
	color: #999;
    font-size: 14px;
}
/*左侧固定导航栏*/
.side-fixed{
	position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 99;
    transition: all 1s;
    display: block;
}
.side-fixed img{
	display: block;
    margin: 2px 0;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    animation: all 1s;
}
.before{
	opacity: 1;
}
.after{
	opacity: 0;
}
.side-fixed:hover .before{
	opacity: 0;
}
.side-fixed:hover .after{
	opacity: 1;
}